<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQuestionService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56800/QuestionService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQuestionService"
          contract="QuestionnaireContracts.IQuestionService" name="BasicHttpBinding_IQuestionService" />
    </client>
  </system.serviceModel>
</configuration>